.profile {
   display: grid;
   grid-template-columns: auto minmax(0, 1fr) auto;
   grid-column-gap: 30px;
   align-items: center;
   padding-top: 40px;
}

@media (max-width: 480px) {
   .profile {
      grid-template-columns: auto;
      grid-row-gap: 30px;
      align-items: center;
      place-items: center;
      padding-top: 40px;
   }
}

@media (max-width: 320px) {
   .profile {
      grid-template-columns: auto;
      grid-row-gap: 30px;
      align-items: center;
      place-items: center;
      padding-top: 40px;
   }
}