@font-face {
   font-family: "InterRegular";
   src: url("Inter_24pt-Black.woff2") format("truetype");
   font-style: normal;
   font-weight: 900;
}

@font-face {
   font-family: "InterRegular";
   src: url("Inter_24pt-Regular.woff2") format("truetype");
   font-style: normal;
   font-weight: 400;
}

@font-face {
   font-family: "InterRegular";
   src: url("Inter_24pt-Medium.woff2") format("truetype");
   font-style: normal;
   font-weight: 500;
}