.body {
   background-color: var(--background-color);
   scroll-behavior: smooth;
   padding: 45px 0 60px;
   color: var(--primary-text-color);
   font-family: var(--font-family-base);
   font-weight: 400;
}